
html {
  height: 100%;
  box-sizing: border-box;
}
body {
        font-family: 'latomedium';
        background: #fcfcfc;
        height: 100%;
        position: relative;
        color: #59595a;
}

a {
        text-decoration: none;
}

small {
color: #999;
}

a:hover {
        text-decoration: none;
}

#wrapper {
    position:relative;
    min-height:100%;
}

#content {
    padding-bottom:100px; /* Height of the footer element */
}

.homepageContent {
    padding: 20px;
}

tbody {
    text-align: left !important;
}

.mainContent {

    margin-top: 60px;
}

.topSection {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e7e7e7;
}
.rightside {
    margin-top: 30px;
    text-align: right;
}

.nav-sidebar { 
    width: 100%;
    height: auto;
    border-right: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
.nav-sidebar a {
    background: #ffffff;    
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}

.nav-sidebar li a:hover {
    color: #fff;
    background-color: #32b881;   
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.panel {
    margin-bottom: 30px;
}

.cardPanel {
    text-align: center;
    padding: 20px !important; 
}

.cardPanelTable {
    text-align: left;
    padding: 16px !important; 
}
.panel-body h2 {
    font-weight: bold;
    font-size: 60px;
}
.navbar-brand {
        background: url('../images/logopix.png') no-repeat center;
        width: 175px;
        display: block;
}
.whiteNav {
        background: #fff;
        border-bottom: 1px solid #F8F8F8;
}
.navSearch {

}
.fa-btn {
        margin-right: 6px;
}
#footer{
        position: absolute;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 0;
        width: 100%;
        max-height: 100px;
        background-color: #ffffff;
        border-top: 1px solid #F8F8F8;
}
#footer p {
        font-size: 1em;
}

.glyphicon { margin-right:10px; }
.panel-body table tr td { padding-left: 8px }
.panel-body .table {margin-bottom: 0px; }

.panel {
    border:1px solid transparent !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.08) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.08) !important;
}


.infoResources {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 12px 0px 0 0px;
}

.infoResources p {
    padding: 0;
    margin: 0;
}

.titleResource {
    position: relative;
    font-family: 'latobold';
    font-size: 1.2em;
    float: left;
    width: 70%;
    height: 15px;
    color: #34495e;
}

.infoGroup ul {
    position: relative;
    float: right;
    width: 30%;
    height: 15px;
    padding: 0;
    margin-bottom:0!important;
}

.infoGroup li {
    display: inline;
    list-style: none;
}

.dateSubmited {
    position: absolute;
    right: 0;
    text-align: right;
    color: #bdc3c7;
}

.resourceDesc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #7f8c8d;
  width: auto;
  height: 92%;
  visibility: visible;
  opacity: 0;
  font-size: 1.1em;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  vertical-align: middle;
  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap:hover .resourceDesc {
  visibility: visible;
  opacity: 1;
}

.titleResourceSingle {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.titleResourceSingle em {
    color: #ccc;

}

.infoResouce {
    margin-top: 10px;
    position: relative;
    text-align: justify;
    line-height:23px;
}



.sidebar-front { 
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar-front a {
    background: transparent;    
    color: #777;
    border-top: 1px solid #e7e7e7;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}

.sidebar-front li {
    background: transparent;    
    color: #777;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}


.sidebar-front .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.sidebar-front .active a:hover {
      background: transparent;
}

.sidebar-front li a:hover {
     background: transparent;
}

.sidebar-front .text-overflow a,
.sidebar-front .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.sidebar-front.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.sidebar-front.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.btnLink {
    position: relative;

}

.loginForm {
    position: relative;
    top: 200px;
}

.groupButton {
    position: relative;
    margin: 20px 0 20px 0;
    text-align: center;
}

.greenBg {
    background: #32b881;
    color: #ffffff;
    border: 1px solid transparent;
}

.greenBg:hover {
    background: #219d6a;
    color: #ffffff;
    border: 1px solid transparent;
}


.linkBtnCustom {
    color: #b1b1b1;
    text-decoration: none;
}

.linkBtnCustom:hover{
    text-decoration: none;
    color: #b1b1b1;
}

.infoFooter {
        color: #777;
        display: block;
        float:right;
    }

        .text-muted {
        text-align: center;
    }

@media screen and (min-width: 240px) and (max-width: 780px) { 
    .infoFooter {
        text-align: center;
    }

    .titleResource {
        font-size: 12px;
        width: 100%;
    }
    .infoGroup {
        display: none;
    }
    #footer{
        padding-bottom: 20px;
    }
}
